.center-div {
    background-color: lightgrey;
    max-width: 80%;
    min-width: 380px;
    margin: 0 auto;
}

.color-div {
    background-color: green;
}

/* Default styles for screens larger than 720px wide */
.portrait-style {
    max-width: 80%;
    min-width: 400px;
    display: block;
    /* Ensure the image is treated as a block element */
}

/* Media query for screens up to 720px wide */
@media (max-width: 768px) {
    .portrait-style {
        max-width: 100%;
        /* Adjust to full width on smaller screens */
        min-width: 0;
        /* Remove the minimum width on smaller screens */
        display: block;
        /* Ensure the image is treated as a block element */
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    display: flex;
}

.box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

}

.center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
}