.colored-div {
    background-color: yellow;
    max-width: 80%;
    min-width: 380px;
    margin: 0 auto;
  }

.portrait-style {
    max-width: 45%;
    min-width: 420px;

    margin-left: auto;
    margin-right: auto;
    display: block; /* Ensure the image is treated as a block element */
}
  