@import "tailwindcss";

/* Deine eigenen Definitionen */
.portrait-style {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  object-fit: cover;
}

.grow {
  transition: transform 0.3s ease;
}

.grow:hover {
  transform: scale(1.05);
}

.animated-image {
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
